body {
    text-align: center;
  }
  
  textarea {
    width: 100%;
    float: top;
    min-height: 70vh;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #f4f4f9;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
    background-color: white;
  }
  
  